<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CON" connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c432016fa01kurraj;User ID=kurraj;Password=1359757" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
<appSettings>
  <add key="connect1" value="Data Source=dcm.uhcl.edu;Initial Catalog=c432016fa01kurraj;User ID=kurraj;Password=1359757"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="SendEmail" value="true"/>
</appSettings>
</configuration>
