<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState timeout="540"/>
    <customErrors mode="Off"/>
    <!--<compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>-->
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true"/>
  </system.web>
  <system.data>
    <!--<DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>-->
    <!--<DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>-->
    <!-- <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
    </DbProviderFactories>-->
  </system.data>
  <connectionStrings>
    <add name="WebAppConString" connectionString="Server=dcm.uhcl.edu;port=3306;Uid=c543316sp01g5;Pwd=2147081;Database=c543316sp01g5;" providerName="Mysql.Data.MysqlCient"/>
    <!-- <add name="WebAppConString" connectionString="Server=localhost;port=3306;Uid=root;Pwd=system;Database=oodbpro;" providerName="Mysql.Data.MysqlCient"/>-->
  </connectionStrings>
</configuration>